.productInfo {
    margin: 10px;
    padding: 10px;
}

.cartButton {
    background-color: rgb(172, 104, 235) !important;
}

.bold {
    font-weight: bold !important;
}

img.largeImage {
    width: 500px !important;
    height: 500px !important;
}

div.largeImage {
    box-shadow: none;
    background-color: #fafafa;
}

.productName {
    font-size: 3em !important;
    background-color: rgb(125, 125, 255);
}

.productGrid {
    flex-grow: 1;
}

.dollars:before {
    content:'$';
}

.crossedout {
    text-decoration: line-through;
}